header {
  grid-column: 1 / span 12;
  padding-left: 64px;
  padding-right: 64px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 400;
  background: #202124;
}

.nav-logo {
  width: 130px;
}

#nav-header {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
  margin: auto;
}

#navFooter {
  padding-top: 68px;
  padding-left: 68px;
  padding-right: 68px;
}

#logo-container {
  height: 16px;
  min-width: 16px;
  position: relative;
}

#primary-logo {
  height: 16px;
  min-width: 16px;
}

.nav-links {
  display: flex;
  flex: 1 1 0%;
  flex-flow: row wrap;
  align-items: center;
  max-height: 30px;
  overflow: hidden;
}

.user-links > a {
  margin-left: 24px;
  cursor: pointer;
}

#user-links-container {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;
}

.user-links {
  display: flex;
  flex-direction: row;
}

#user-avatar, #login-link {
  margin-right: 24px;
}

#user-avatar {
  /* background-color: #454578; */
  color: white;
  border-radius: 50%;
  /* width: 32px;
  height: 32px; */
  /* display: grid;
  place-items: center; */
  cursor: pointer;
  margin-right: 1rem;
}
.footer-logo {
  padding-top: 1rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

footer {
  grid-column: 1 / span 12;
  padding-top: 32px;
}

#navFooter {
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 4rem;
  background-color: #202124;
}

.nav-col-01 {
  margin-left: 2rem;
  text-align: start;
}
.nav-col-02 {
  text-align: center;
}
.nav-col-03 {
  margin-right: 2rem;
  text-align: end;
}

#footer-top {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
}

#footer-top h5,
#footer-top a {
  color: rgb(109, 115, 120);
}

#footer-bottom {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #c6c8cc;
  left: 0px;
  bottom: 0px;
  height: fit-content;
  width: 100%;
  display: flex;
}

.footer-link-list {
  display: flex;
  flex-direction: column;
}

.footer-link-list a {
  margin-bottom: 16px;
}

.nav-modal-container {
  visibility: visible;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 
  0px 0px 4px rgba(0, 0, 0, 0.08);
  background-color: #37393e;
}

.nav-modal-container::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 12px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #37393e;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px -2px 1px);
}

#user-modal.nav-modal-container {
  right: 65px;
  top: 70px;
  opacity: 100%;
}

#user-modal.nav-modal-container.on {
  animation: modalUp 700ms ease-in;
}

#user-modal.nav-modal-container.modal-off {
  animation: modalDown 700ms ease-in;
}

@keyframes modalUp {
  0% {
    top: 80px;
    opacity: 0%;
  }
  100% {
    top: 70px;
    opacity: 100%;
  }
}
@keyframes modalDown {
  0% {
    visibility: visible;
    top: 70px;
    opacity: 100%;
  }
  100% {
    visibility: hidden;
    top: 80px;
    opacity: 0%;
  }
}

.nav-item {
  display: flex;
  padding: 0.5rem;
  color: white;
  background-color: #37393e;
}

.nav-item:hover {
  background-color: #2a2a2a;
}

.nav-item:focus {
  background-color: #1a1a1a;
}