/* header {
  grid-column: 1 / span 12;
  padding-left: 64px;
  padding-right: 64px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 400;
  background: #202124;
} */

@media only screen and (max-width: 600px) {
  #nav-header {
    height: 60px;
  }
  header {
    grid-column: 1 / span 12;
    padding-left: 14px;
    padding-right: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 400;
    background: #202124;
  }
}
@media only screen and (min-width: 600px) {
  #nav-header {
    height: 72px;
  }
  header {
    grid-column: 1 / span 12;
    padding-left: 64px;
    padding-right: 64px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 400;
    background: #202124;
  }
}

.nav-logo {
  width: 130px;
}

#nav-header {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

#navFooter {
  padding-top: 68px;
  padding-left: 68px;
  padding-right: 68px;
}

#logo-container {
  height: 16px;
  min-width: 16px;
  position: relative;
}

#primary-logo {
  height: 16px;
  min-width: 16px;
}

.nav-links {
  display: flex;
  flex: 1 1 0%;
  flex-flow: row wrap;
  align-items: center;
  max-height: 30px;
  overflow: hidden;
}

.user-links > a {
  margin-left: 24px;
  cursor: pointer;
}

#user-links-container {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;
}

.avatar-wrapper {
  cursor: pointer;
}
.avatar-mobile {
  padding: 12px;
}

.user-links {
  display: flex;
  flex-direction: row;
}

#user-avatar, #login-link {
  margin-right: 24px;
}

#user-avatar {
  /* background-color: #454578; */
  color: white;
  border-radius: 50%;
  /* width: 32px;
  height: 32px; */
  /* display: grid;
  place-items: center; */
  cursor: pointer;
  margin-right: 1rem;
}

footer {
  grid-column: 1 / span 12;
}

.footer-link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
     padding: 1rem 0.5rem;
    gap: 0.5rem;
}
#navFooter {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #202124;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 800px) {

  #sample-code-editor{
    display: none;
  }
  #hero-content {
    grid-column: 1 / span 2;
    margin: 0 64px 0 64px;
    text-align: center;
  }
  #hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;

  }
}

/* mobile (i.e. less than 600px wide screens) */
@media only screen and (max-width: 600px) {
  .nav-col-01 {
    text-align: center;   
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .nav-col-02 {
    text-align: center;
     align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .nav-col-03 {
    text-align: center;
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .footer-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #hero-container {
    grid-column: 1 / span 12;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('https://code-mark.s3.amazonaws.com/codemark-hero-1-opti.jpg') rgba(26, 26, 26, 0.3);
    background-size:cover;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    place-items: center;
  }

  #hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
  }

  /* .home-main {
    padding-left: 20px;
    padding-right: 20px;
  } */

  #hero-content {
    grid-column: 1 / span 2;
    margin: 0 64px 0 64px;
    text-align: center;
  }


  #footer-bottom {
    padding: 1rem 0 1rem 0;
    border-top: 1px solid #c6c8cc;
    left: 0px;
    bottom: 0px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #features-container {
    grid-column: 1 / span 12;
    max-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .session {
  grid-column: 1 / span 12;
  height: 75vh;
  background-color: #2D2D2D;
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
  header {
    padding-left: 42px;
    padding-right: 42px;
  }
  .nav-col-01 {
    display: flex;
    gap: 30px;
    width: 325px;
    flex-direction: row;
    justify-content: center;
  }
  .nav-col-02 {
        display: flex;
    gap: 30px;
    width: 325px;
    flex-direction: row;
    justify-content: center;
  }
  .nav-col-03 {
       display: flex;
    gap: 30px;
    width: 325px;
    flex-direction: row;
    justify-content: center;
  }

  .footer-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer-header{
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pic-wrapper{
    padding-bottom: 10px;
  }


  #footer-bottom {
    padding: 1rem 0 1rem 0;
    border-top: 1px solid #c6c8cc;
    left: 0px;
    bottom: 0px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #sample-code-editor{
    position: absolute;
    top: 100px;
    left: 50px;
  }

}


#footer-top {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
}

#footer-top h5, #footer-top a {
  color: rgb(109, 115, 120);
}

#footer-top a:hover{
  color: blue;
}

.footer-link-list {
        align-items: flex-start;
}


#footer-top a:hover {
  color: #35D9E3;
}
#footer-top a {
  color: #c6c8cc;
}

.angellist-icon {
   padding: 2px 2px;
   width: 18px;
   height: auto;
   background-color: #fff;
   border-radius: 50%;
}
.team-pics {
   padding: 2px 2px;
   width: 110px;
   height: 110px;
   background-color: #fff;
   border-radius: 50%;
}

#bottom-codemark{
  padding: 25px;
}

.footer-subheader{
    width: 98px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.nav-modal-container {
  visibility: visible;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 
  0px 0px 4px rgba(0, 0, 0, 0.08);
  background-color: #37393e;
}

.nav-modal-container::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 12px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #37393e;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px -2px 1px);
}

#user-modal.nav-modal-container {
  right: 65px;
  top: 70px;
  opacity: 100%;
}

#user-modal.nav-modal-container.on {
  animation: modalUp 700ms ease-in;
}

/* #user-modal.nav-modal-container.modal-off {
  animation: modalDown 700ms ease-in;
} */

@keyframes modalUp {
  0% {
    top: 80px;
    opacity: 0%;
  }
  100% {
    top: 70px;
    opacity: 100%;
  }
}
@keyframes modalDown {
  0% {
    visibility: visible;
    top: 70px;
    opacity: 100%;
  }
  100% {
    visibility: hidden;
    top: 80px;
    opacity: 0%;
  }
}

.nav-item {
  display: flex;
  padding: 0.5rem;
  color: white;
  background-color: #37393e;
}

.nav-item:hover {
  background-color: #2a2a2a;
}

.nav-item:focus {
  background-color: #1a1a1a;
}

.icon-buttons-wrapper {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.nav-menu-mobile {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 78%;
  z-index: 1000;
  background: #202124d4;
  box-sizing: border-box;
}

.mobile-menu-mask {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: #9c9b9b13;
  backdrop-filter: blur(20px);
}

.nav-menu-mobile.menu-in {
  animation: menuIn 750ms ease-in-out;
  visibility: visible;
  transform: translateX(0px);
}

.nav-menu-mobile.menu-out {
  animation: menuOut 750ms ease-in-out reverse;
  transform: translateX(-400px);
  visibility: hidden;
}

.mobile-menu-mask.mask-in {
  animation: maskIn 750ms ease-in-out;
  transform: translateX(0px);
  visibility: visible;
}

.mobile-menu-mask.mask-out {
  animation: menuOut 750ms ease-in-out;
  visibility: hidden;
}

@keyframes menuIn {
  0% {
    visibility: hidden;
  }
  1% {
    opacity: 0%;
    transform: translateX(-400px);
    visibility: visible;
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
@keyframes menuOut {
  0% {
    opacity: 100%;
    transform: translateX(0px);
    visibility: visible;
  }
  99% {
    opacity: 0%;
    visibility: visible;
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(-400px);
    visibility: hidden;
  }
}

@keyframes maskIn {
  0% {
    visibility: hidden;
  }
  1% {
    backdrop-filter: blur(0px);
    transform: translateX(-450px);
    visibility: visible;
  }
  100% {
    backdrop-filter: blur(20px);
    transform: translateX(0px);
  }
}

@keyframes maskOut {
  0% {
    backdrop-filter: blur(20px);
    transform: translateX(0px);
  }
  99% {
    backdrop-filter: blur(0px);
    transform: translateX(-450px);
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}