
.session {
  grid-column: 1 / span 12;
  min-height: 82vh;
  height: fit-content;
  padding: 2rem 0;
  background-color: #2D2D2D;
}

#session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  
  position: absolute;
  max-width: 95%;
  width: max-content;
  height: min-content;
  /* top: calc(50% - 591px/2); */

  background: #202124;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  border: 1px solid #EEEFF2;
  box-sizing: border-box;
}

.avatar-wrapper.form {
  cursor: default;
}

input[type='color'] {
  height: 52px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.avatar-section-form {
  width: 100%;
}

.form-input-label {
  font-size: 14px;
  color: #6E7377;
}

.color-select-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.avatar-form {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.button-session {
  flex: 1;
}

.button-session.disabled {
  border: 1px solid transparent;
  color: #727272;
  background: #373737;
  box-shadow: none;
  cursor: not-allowed;
}

.signup-buttons-wrapper {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

#session-form > h3 {
  padding-bottom: 15px;
}

.demo_button {
  border: 1px solid transparent;
  background: #198087;
  margin-left: 2rem;
}

.demo_button:hover {
  border: 1px solid transparent;
  background: #2d2d2d00;
  color: #37F3FF;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 50%);
  border-radius: 4px;
  z-index: 20;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

#session-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  align-items: center;
}

#session-form label {
  font-size: 14px;
  color: #6E7377;
}

.alt-session-link {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  padding: 10px;
}
.alt-session-link > p {
  margin-right: 0.5rem;
}
.color-select-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f3f3f5;
  top: -6px;
  left: 30px;
  box-shadow: -2px 0px 12px rgb(0 0 0 / 30%);
}

.color-change-view:hover::before {
  content: "Customize your avatar color";
  z-index: 20220;
  width: max-content;
  position: absolute;
  right: -203px;
  bottom: 61px;
  text-align: end;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 500ms ease-in-out;
}

.color-change-view:hover::after {
  position: absolute;
  content: "";
  top: -16px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #393939;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 500ms ease-in-out;
}

.fa-eye-dropper {
  position: absolute;
}


input[type='color'] {
  opacity: 0%;
	display: block;
  border-radius: 50%;
	width: 32px;
	height: 32px;
	border: none;
}

.text-input, .date-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 11px;
  height: 40px;
  width: 100%;
  background: #FFFFFF;
  color: #2E2E2E;
  border: 1px solid #D7D8DB;
  border-radius: 3px;
  margin: 4px 0px;
}

.text-input.error {
  border: 2px solid #ff0303;
}

.text-input.error:focus {
  border: 2px solid #37F3FF;
  background-color: #fdfdfd;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  margin-bottom: 15px;
}

.date-input {
  height: fit-content;
}

.radio-group {
  padding: 12px 11px;
}

.form-input > label {
  font-size: 14px;
  line-height: 20px;
  color: rgb(109, 115, 120);
  margin-bottom: 4px;
}
.fa-thumbs-up {
  color: #15CF74;
}

.global-modal-in-out {
  animation: successModalInOut 5s ease-in-out;
}

.success-in {
  animation: successModalIn 1s ease-in;
}

.success-out {
  animation: successModalOut 1s ease-out;
}

.modal-message {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: center;
  justify-content: center;
}

#success-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  position: relative;
  top: 0px;
  z-index: 399;
  background-color: rgba(198, 198, 198, 0.102);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 16px rgb(0 0 0 / 30%);
}

.fa-circle-xmark {
  color: #A44B4B;
}
.fa-circle-check {
  color: #15CF74;
}

.session-error{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.4rem;
}
.session-error-wrapper{
    padding-top: 15px;
}

@keyframes successModalIn {
  0%{
    top: 0;
    opacity: 0%;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);

  }
  100%{
    top: 65px;
    opacity: 100%;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 60%);
  }
}

@keyframes successModalOut {
  0%{
    top: 65px;
    opacity: 100%;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 60%);
  }
  100%{
    top: 0px;
    opacity: 0%;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);

  }
}

@keyframes successModalInOut {
  0%{
    top: 0px;
    opacity: 0%;
  }

  15%{
    top: 65px;
    opacity: 100%;
  }
  
  85%{
    top: 65px;
    opacity: 100%;
  }
  100%{
    top: 0px;
    opacity: 0%;
  }
}

.avatar-wrapper.form {
  cursor: default;
}

input[type='color'] {
  height: 52px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.avatar-section-form {
  width: 100%;
}

.form-input-label {
  font-size: 14px;
  color: #6E7377;
}

.color-select-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.avatar-form {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.fa-xmark.modal {
  color: #A44B4B;
}