body {
  font-family: 'Inter', sans-serif;
  color: #FAFAFA;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 42px;
  color: #FAFAFA;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #FAFAFA;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #FAFAFA;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  color: #FAFAFA;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

a {
  font-size: 16px;
}

a:hover {
  color: #316ECA;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 800;
}

