input {
  border: 2px solid transparent;
}

input:focus {
  border: 2px solid #37F3FF;
  background-color: #fdfdfd;
}

button, .button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;

  background: #2D2D2D;
  border: 1px solid #FFFFFF;
  /* bg-shadow-lg */
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: border 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

a.active {
  color: #37f3ff;
}

button:hover, .signup:hover, .login:hover, .hide-button:hover {
  color: #37F3FF;
  border: 1px solid #37F3FF;
}

button:focus, .signup:focus, .login:focus, .hide-button:focus {
  color: #37F3FF;
  background: #0D4649;
}

.a-link {
  color: #222222;
}

.a-link:hover {
  color: #37F3FF;
}

.view-link {
  padding: 0.4rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  background: none;
}

.show-link-wrapper {
  align-self: flex-end;
}

.view-link:hover {
  padding: 0.4rem;
  background: #2D2D2D;
  /* bg-shadow-lg */
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: none;
}

.hide-button {
  position: absolute;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  background: none;
  border-radius: 4px;
  width: fit-content;
  place-self: flex-end;
}

#hidden-demo {
  display: none;
}
.sign-up-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  padding: 0 24px 0 24px;
  height: 56px;
  min-width: 180px;
  left: 20px;
  top: 190px;

  /* white */

  color: #222222;
  background: #FFFFFF;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 14px;
}

.sign-up-large:hover {
  background-color: #EEEFF2;
  color: #222222;
}

.sign-up-large:focus {
  background-color: #FFFFFF;
  color: #316ECA;

}

.icon-button {
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  padding: 6px 16px;
  border-radius: 4px;
  width: fit-content;
  place-items: baseline;
  background-color: #2D2D2D;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 0%);
  transition: box-show 500ms ease-in-out;
}

.icon-button:hover {
  background-color: #2D2D2D;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 25%);
}


.delete-note:hover {
  background-color: #390000;
}

/* errors */
/* .error-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px;

  position: relative;
  top: 125px;
  min-width: 500px;
  min-height: 70px;

  background: #222222;
} */

.error-item {
  color: #EB5750;
}

.icon-only-button {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  position: relative;
  height: 24px;
  width: 24px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(85, 82, 82, 0);
  box-shadow: 0px 0px 11px rgb(0 0 0 / 00%);
  transition: background-color 500ms ease;
}

.icon-only-button:hover {
  background-color: rgba(85, 82, 82, 0.8);
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);
}