input {
  border: 2px solid transparent;
}

input:focus {
  border: 2px solid #37F3FF;
  background-color: #fdfdfd;
}

button, .button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;

  background: #2D2D2D;
  border: 1px solid #FFFFFF;
  /* bg-shadow-lg */
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: border 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

button:hover, .signup:hover, .login:hover, .hide-button:hover {
  color: #37F3FF;
  border: 1px solid #37F3FF;
}

button:focus, .signup:focus, .login:focus, .hide-button:focus {
  color: #37F3FF;
  background: #0D4649;
}

.hide-button {
  position: absolute;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 12%);
  border-radius: 4px;
  width: fit-content;
  place-self: end;
}