
:root {
  --module-size: 66vw;
}

.code-note-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px 9px;
  width: calc(var(--module-size) / 2.5);
  /* max-width: 46%;
  min-width: 45%; */
  min-height: 200px;
  left: 20px;
  top: 351.62px;
  background: #202124;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 12%);
}

.code-note-text {
  padding: 0.4rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.7rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

.code-note-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.code-note-preview {
  width: 100%
}

.ͼ1 .cm-scroller::-webkit-scrollbar  {
  display: none;
}

.checkbox-option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  font-weight: 600;
}

.resource-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

