
:root {
  --module-size: 66vw;
}

@media only screen and (min-width: 600px) {
  .code-note-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 9px;
    background: #202124;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 12%);
    border-radius: 4px;
  }
}

@media only screen and (max-width: 600px) {
  .code-note-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px;
    margin: 9px 0 9px 0;
    background: #202124;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 12%);
    border-radius: 4px;
    width: -webkit-fill-available;
  }
}

/* .mobile-notes {
  
} */


.comment-count {
  display: flex;
  gap: 0.3rem;
}

.like-count {
  display: flex;
  gap: 0.3rem;
}

.top-row-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.note-item-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

}

.code-note-text {
  padding-top: 0.4rem;
  display: flex;
  gap: 0.7rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.code-note-title {
  font-weight: 700;
  font-size: 1.2rem;
  overflow: hidden;
  width: 100%;
  overflow-wrap: break-word;
}

.code-note-preview {
  width: 100%
}

.ͼ1 .cm-scroller::-webkit-scrollbar  {
  display: none;
}

.checkbox-option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  font-weight: 600;
  overflow-wrap: break-word;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border .25s ease-in;
}

.checkbox-option:hover {
  /* color: rgb(91, 171, 225); */
  /* filter: brightness(50%); */
  border-color: #6EEBE7;
}

.checkbox-option > label {
  max-width: 92%;
}

.resource-options {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* gap: 2rem; */
  flex-wrap: wrap;
  height: 300px;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  width: 100%;
  white-space: wrap;
  text-align: initial;
}

/* .resource-options::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
} */

.resource-options::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.resource-options::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* .keyword-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 10px;
} */

.keyword-options {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#keyword-submit {
  height: 30px;
}

.checkbox:checked + .checkbox-label {
  /* color: red; */
}

.option-selected {
  background: #00000047;
  border-color: #6EEBE7;
}