.note-comments {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2rem;
}

.comment-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.comment-outer-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 23px;
  width: 470px;
  border-radius: 8px;
  min-height: 125px;
  background-color: #202124;
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  width: 470px;
  border-radius: 8px;
}

/* .avatar-wrapper {

} */

.hidden {
  display: none;
}

.comment-time-ago {
  font-size: 0.8rem;
  margin-left: 6px;
}

.comment-top-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}


.code-snippet-new-modal {
  height: auto;
  min-height: 250px;
}

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.4rem 0.8rem 0.4rem 0;
  gap: 24px;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}

.code-note-username {
  font-family: Source Code Pro;
  font-size: 13px;
}

.updated-at-and-username {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2px;
  width: 100%;
}

.username-comment {
  font-family: Source Code Pro;
  font-size: 14px;
}
.username-comment::before {
  content: "@";
  font-family: Source Code Pro;
}

.comments-list, .comment-items-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: flex-start;
  gap: 0.7rem;
  /* min-width: 115px;
  height: 43px; */
  flex-wrap: nowrap;
  align-content: center;
}

.add-code-snippet-wrapper {
  display: flex;
  width: 100%;
}

.code-snippet-comment {
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  padding: 10px;
  gap: 10px;

  width: 100%;

  /* background: #35373E; */
  /* border-left: 1px solid #D0D0D0; */
}

.comment-body-wrapper {
  padding: 10px;
}

.comment-code {
  font-size: 16px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

textarea {
  height: auto;
}

.code {
  font-family: 'Source Code Pro', monospace;
  resize: none;
  width: fit-content;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* .comment-body-wrapper {

}

.comment-body {

} */

.close-x:hover {
  background: #1515156b;
}

.close-x {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -48px;
  right: -235px;
}

.comment-form-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2rem;
}

#comment-textarea:focus {
  background-color: #2c2d30;
  border: 0.5px solid white;
}

.new-comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 3px;

  width: 470px;
  min-height: 90px;
  height: fit-content;
  border: 1px solid white;
  background: #202124;
  border-radius: 8px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

#comment-textarea {
  height: fit-content;
  padding: 0.4rem;
  width: 97%;
  resize: none;
}

#comment-submit {
  position: relative;
  bottom: 0px;
  align-self: flex-end;
}