#demo-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media only screen and (max-width: 600px) {
  #demo-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}

#demo-title {
  display: grid;
  place-items: center;
  padding: 2em;
}

.info-box {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
  color: black;
}

.info-box-text {
  display: grid;
  grid-template-rows: auto 1fr;
}
.info-box-text span {
  display: flex;
  flex-direction: column;
}
.icon-container {
  display: flex;
  width: 80px;
  height: 80px;
}

.info-sub-header h4 {
  display: flex;
  min-height: 60px;
  color: #2D2D2D;
}

.info-desc-box {
  display: flex;
}

.buttons-center {
  padding-top: 36px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
