#hero-container {
  grid-column: 1 / span 12;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url('https://code-mark.s3.amazonaws.com/codemark-hero-1-opti.jpg') rgba(26, 26, 26, 0.3);
  background-size:cover;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  place-items: center;

}

#hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-graphic {
  grid-column: 1 / span 2;
  align-self: flex-end;
  position: relative;
  top: 5px;
}

#hero-content {
  grid-column: 2 / span 1;
  margin: 0 64px 0 64px;
  text-align: right;
}

.hero-tagline, .hero-h1 {
  padding-bottom: 10px;
  color: white;
}

.hero-h1 {
  font-weight: 800;
  font-size: 42px;
}