

#features-container {
  display: grid;
  grid-column: 1 / span 12;
  max-height: 700px;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}

#features-left-container {
  grid-column: 1 / span 1;
  margin-left: 28px;
  margin-right: 2rem;
}

#features-right-container{
  grid-column: 2 / span 1;
}


@media only screen and (max-width: 680px) {
  #features-container {
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  #features-left-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin-right: 28px;
  }

  #features-right-container {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-left: 28px;
  }

  .simple-cta-section {
    padding: 4rem 2rem 3rem 2rem;
  }

}

