.note-tags-wrapper {
  display: flex;
  width: 100%;
  max-height: 40px;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.note-tags-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 100%;
  max-height: 40px;
  overflow-x: scroll;
  justify-content: flex-start;
  flex-wrap: nowrap;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.code-note-tags {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  gap: 0.4rem;
  padding: 0.2rem;
}

.code-note-tags::-webkit-scrollbar,
.note-tags-list::-webkit-scrollbar  {
  display: none;
}

.note-tag-mini {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 12px;
  gap: 12px;
  background: #35373E;
  border-radius: 4px;
}


.tag-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 12px;
  gap: 12px;
  height: 28px;
  background: #35373E;
  border-radius: 4px;
}

.tag-delete-icon-wrapper {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  background: transparent;
}

.tag-delete-icon-wrapper:hover {
  background: transparent;
}

.tag-form-off {
  display: none;
}
.tag-form-on {
  display: flex;
}


.tag-form-input {
  background: none;
  color: white;
}
.tag-form-input:focus {
  background: none;
  color: white;
}

#new-tag-form {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  padding: 5px 12px;
  gap: 12px;
  height: 28px;
  background: #35373E;
  border-radius: 4px;
}

.tag-delete-icon-wrapper {
  cursor: pointer;
}

.tag-delete-icon-wrapper:hover {
  background: #35373E;
  border-radius: 4px;
}

#tag-icon-save:hover {
  background-color: darkcyan;
}


.tag-delete-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.4rem;

  color: white;
  background: #2D2D2D;
  border: none;
  /* bg-shadow-lg */
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: background 250ms ease-in-out;
}

.tag-delete-button:hover {
  background: #5b0606;
  border: none;
  color: white;
}

.tag-delete-button:focus {
  color: white;
  background: #490d0d;
  border: none;
}

.tag-icon-new {
  cursor: pointer;
}

.tag-icon-new:hover {
  background: rgba(109, 109, 109, 0.4);
  border-radius: 3px;
}

/* .tag-text {

} */

