.icon-wrapper {
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
}

.codemark-icon {
  width: 80%;
}

.user-notes-stat {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  position: relative;
}
.text-light {
  opacity: 70%;
}

.flex-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.flex-wrapper.margin-right {
  margin-right: 0.4rem;
}

.user-header-stats {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  gap: 26px;
  align-items: center;
  position: relative;
}

.user-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8rem;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .user-header-stats {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    position: relative;
  }

  .user-stats {
    gap: 1.2rem;
    width: 100%;
    justify-content: space-between;
  }
}

.user-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

#user-unfollow {
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid transparent;
  background-color: #383838;
}

.fa-check-double {
  color: #6EEBE7;
}

#user-follow {
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #0D4649;
}

#user-follow, #user-unfollow {
  height: 42px;
}

.user-notes-stat.notes:hover::before {
  content: 'total notes';
  position: absolute;
  width: max-content;
  z-index: 200;
  bottom: -45px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.user-notes-stat.notes:hover::after {
  content: "";
  z-index: 200;
  position: absolute;
  bottom: -14px;
  left: 2px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #37393e;
  animation: fadeIn 1000ms ease-in-out;
}

.user-notes-stat.comments:hover::before {
  content: 'total comments received';
  position: absolute;
  width: max-content;
  z-index: 200;
  bottom: -45px;
  left: 0;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.user-notes-stat.comments:hover::after {
  content: "";
  z-index: 200;
  position: absolute;
  bottom: -14px;
  left: 2px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #37393e;
  animation: fadeIn 1000ms ease-in-out;
}

.user-notes-stat.followers:hover::before {
  content: 'total followers and following';
  position: absolute;
  width: max-content;
  z-index: 200;
  bottom: -45px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.user-notes-stat.followers:hover::after {
  content: "";
  z-index: 200;
  position: absolute;
  bottom: -14px;
  left: 2px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #37393e;
  animation: fadeIn 1000ms ease-in-out;
}