.icon-wrapper {
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
}

.codemark-icon {
  width: 80%;
}

.user-notes-stat {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}
.text-light {
  opacity: 70%;
}

.flex-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.flex-wrapper.margin-right {
  margin-right: 0.4rem;
}

.user-header-stats {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  gap: 26px;
  align-items: center;
}

.user-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.section-title {
  width: 100%;
}

.user-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
  align-content: center;
}

#user-unfollow {
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid transparent;
  background-color: #383838;
}

.fa-check-double {
  color: #6EEBE7;
}

#user-follow {
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #0D4649;
}

#user-follow, #user-unfollow {
  height: 42px;
}