#root {
  background: #2D2D2D;
}

.main-sidebar {
  grid-column: 1 / span 12;
  padding-top: 2rem;
}

.home-main {
  padding-right: 64px;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.nv-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.nav-sidecar {
  min-height: 300px;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.nav-menu-mobile {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background: #202124;
}

.main-mobile {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.none-found {
  font-style: italic;
  font-size: 12px;
  opacity: 70%;
}

.nav-list {
  width: -webkit-fill-available;
}

@media only screen and (max-width: 600px) {
  .nav-boxes, .tags {
    z-index: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* padding: 24px 0px 24px 64px; */
    gap: 10px;
    width: -webkit-fill-available;
    background: #202124;
    border-radius: 0px 9px 9px 0px;
  }
}
@media only screen and (max-width: 900px)  {
  .nav-boxes, .tags {
    padding: 16px 0px 16px 16px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-boxes, .tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 24px 0px 24px 64px;
    gap: 10px;
    width: -webkit-fill-available;
    background: #202124;
    border-radius: 0px 9px 9px 0px;
  }
}

.nav-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 100%;
}

.nav-pages > h5 {
  margin-top: 2rem;
}

.notes-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-title {
  margin-bottom: 0.4rem;
}

.section-title h1 {
  margin-bottom: 1.3rem;
}

/* .note-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 1rem;
} */
.note-list-container {
  margin-top: 1.2rem;
  /* display: grid; */
  display: flex;
  /* grid-gap: 1rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  gap: 1rem;
}

.desktop-notes {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.column1{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-right: 2rem;
}

.column2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.nav-item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 12px;
  gap: 26px;
  height: 48px;
  background: #202124;
  transition: background 500ms ease-in-out;
  cursor: pointer;
}

.nav-item-link img {
  display: block;
  width: auto;
  height: auto;
}

.nav-item-link:hover {
  background: #454545;
  color: #37F3FF;
  transition: background 500ms ease-in-out;
}

.nav-item-link:focus {
  background: #0D4649;
}

.active {
  color: #fff;
}

.active::after {
  background-color: #0D4649;

}

.nav-item-container.active {
  color: #37F3FF;
}

