#root {
  background: #2D2D2D;
}

.main-sidebar {
  grid-column: 1 / span 12;
  padding-top: 2rem;
}

.home-main {
  padding-right: 64px;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
}

.nv-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.nav-sidecar {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 50px 50px; */

  width: 100%;

  background: #202124;
  border-radius: 0px 9px 9px 0px;
}

.notes-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin-top: 2rem;
}

.note-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 1rem;
}