.note-show-container {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 1.4rem;
}

.note-show-top-icons {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}

.note-show-title {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.note-show-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;

}
.code-note-body {
  width: 100%;
  font-size: 14px;
}

.cm-theme-dark {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
}

.note-resources {
  padding: 2rem;
}

#details-textarea {
  padding: 0.3rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  border-radius: 4rem;
}

#title-code {
  width: 90%;
  padding: 0.2rem;
}

#title-code:focus {
  border-bottom: 0.5px solid #37F3FF;
}


#title-code:focus, #details-textarea:focus {
  background-color: #35373E;
}