.note-show-container {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 1.4rem;
}

.note-show-top-icons {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}

.note-stat {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  padding: 0.2rem;
  gap: 0.5rem;
  cursor: pointer;
}

.note-stat.likes:hover::before {
  content: 'likes';
  position: absolute;
  width: max-content;
  top: -40px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-stat.updated-at:hover::before {
  content: 'time since updated';
  position: absolute;
  width: max-content;
  top: -40px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-stat.created-at:hover::before {
  content: 'time since created';
  position: absolute;
  width: max-content;
  top: -40px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-stat.comments:hover::before {
  content: 'comments';
  position: absolute;
  width: max-content;
  top: -40px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  gap: 1.3rem;
}

.note-stats-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-public-switch-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.note-show-title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.note-show-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .note-show-main {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
  }

  #comments {
    padding: 1rem;
  }

  .note-show-top-icons {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .note-show-container {
    margin-top: 0.6rem;
  }

  .note-stats-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .note-public-switch-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: flex-end;
  }

  .new-comment-container {
    width: fit-content;
    max-width: 290px;
  }
}


#content-export {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 0.7rem;
}

.code-note-body {
  width: 100%;
  font-size: 14px;
  position: relative;
}

.cm-theme-dark {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
}

.icon-wrapper {
  display: flex;
}

.icons-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 20;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.icons-left-col {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1;
}

.icons-right-col {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1;
}

#highlight-instructions {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #515151;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);
  border-radius: 4px;
  padding: 0.4rem;

}

@keyframes SlideInOut {
  0% {
    visibility: visible;
    position: relative;
    bottom: 20px;
    opacity: 0%;
  }
  25% {
    position: relative;
    bottom: 0px;
    opacity: 100%;
  }
  74% {
    position: relative;
    bottom: 0px;
    opacity: 100%;
  }
  100% {
    position: relative;
    bottom: 20px;
    opacity: 0%;
    visibility: hidden;
  }
}

#highlight-instructions.visable {
  /* visibility: visible; */
  opacity: 0%;
  animation: SlideInOut 5s ease-in-out;
}

#highlight-instructions.hidden {
  visibility: hidden;
}

#export-img-icon:hover::before {
  content: "Download an image of this CodeMark";
  width: 248px;
  position: absolute;
  right: 0;
  bottom: 40px;
  text-align: end;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-icon:hover {
  background: #515151;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);
}

.info-icon:hover::before {
  content: "Highlight any section of the CodeMark and right click to comment!";
  width: 260px;
  position: absolute;
  right: 0;
  bottom: 40px;
  text-align: end;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.comment-icon-button, .note-icon {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  position: relative;
  height: 24px;
  width: 24px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 00%);
  transition: background 250ms ease-in;
  transition: box-shadow 250ms ease-in;
}

.comment-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0.5rem;
}

.comment-icon-button:hover {
  background: #515151;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);

}

.note-resources {
  padding: 2rem;
}

#details-textarea {
  padding: 0.3rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  border-radius: 4px;
  background-color: #35373e3e;
}

#title-code {
  padding: 0.2rem;
  width: 100%;
  border-radius: 4px;
}

#title-code:focus {
  border-bottom: 0.5px solid #37F3FF;
}


#title-code:focus, #details-textarea:focus {
  background-color: #35373E;
}

.selected-text {
  text-decoration: underline;
  background-color: #b7be5395;
  color: rgb(119, 255, 15);
}

#note-export-modal {
  z-index: 1000;
  position: absolute;
  width: 100%;
  display: flex;
  background-color: #1b1b1c;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.action-buttons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.cancel-export.icon-button:hover {
  background-color: #390000;
}

.export.icon-button:hover {
  background-color: #0f6a88;
}

#comment-highlight-text {
  background-color: #20212470;
  backdrop-filter: blur(8px);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  place-items: center;
  border-radius: 4px;
  padding: 1rem 2rem;
  position: absolute;
  z-index: 200;
    transition: background-color 300ms ease;
}

#comment-highlight-text.modal-on{
  animation: slideIn 500ms ease-in;
}
#comment-highlight-text.modal-out{
  animation: slideOut 500ms ease-out;
}

#comment-highlight-text.hover {
  background-color: rgba(32, 33, 36, 0.737);
}

.comment-selection-title {
  width: 100%;
}

.cm-theme-dark.comment-code {
  width: 100%;
}

.modal-hidden {
  opacity: 0%;
}

@keyframes slideIn {
  0% {
    left: -40px;
    opacity: 0%;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
    opacity: 100%;
  }
  100% {
    left: -40px;
    opacity: 0%;
  }
}