.note-show-container {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 1.4rem;
  box-sizing: border-box;
  /* position: relative; */
  overflow: hidden;
}

.spacer-150-h {
  height: 150px;
  width: 100;
  display: block;
}

.note-show-top-icons {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}

.note-stat {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  padding: 0.2rem;
  gap: 0.5rem;
  cursor: pointer;
}

.note-stat.likes:hover::before {
  content: 'likes';
  position: absolute;
  width: max-content;
  z-index: 200;
  bottom: -45px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-stat.updated-at:hover::before {
  content: 'time since updated';
  position: absolute;
  width: max-content;
  z-index: 200;
  bottom: -45px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-textDetails {
  display: flex;
  width: 100%;
  padding: 1rem;
  /* padding-left: 1rem; */
  box-sizing: border-box;
  border-left: 2px solid #4e4e4e;
  background-color: #1b1b1c47;
  border-radius: 0 4px 4px 0;
}

.note-stat.created-at:hover::before {
  content: 'time since created';
  position: absolute;
  width: max-content;
  z-index: 200;
  bottom: -45px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-stat.comments:hover::before {
  content: 'comments';
  position: absolute;
  width: max-content;
  z-index: 200;
  bottom: -45px;
  left: -5px;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  gap: 1.3rem;
}

.note-stats-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-stat:hover::after {
  content: "";
  z-index: 200;
  position: absolute;
  left: 2px;
  bottom: -14px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #37393e;
  animation: fadeIn 1000ms ease-in-out;
}

.note-public-switch-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.note-show-title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.note-show-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

@media only screen and (max-width: 680px) {
  .note-show-main {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    padding: 10px;
  }

  #comments {
    padding: 1rem;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    position: relative;
  }

  .note-show-top-icons {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .note-show-container {
    margin-top: 0.6rem;
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
  }

  .note-stats-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.7rem;
  }

  .note-public-switch-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: flex-end;
  }

  .note-stat {
    font-size: 14px;
  }
}

.export-dots-wrapper {
  padding: 2rem;
  border: 1px dashed #35373E;
}


#content-export {
  display: flex;
  padding: 3rem 3rem 4rem 3rem;
  position: relative;
}

.export-logo {
  position: absolute;
  height: 20px;
  bottom: 14px;
  width: auto;
  right: 48px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}

.code-note-body {
  width: 100%;
  font-size: 14px;
  /* position: relative; */
}

.cm-theme-dark {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
}

.icon-wrapper {
  display: flex;
}

.icons-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 20;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.icons-left-col {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1;
}

.icons-right-col {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1;
}

#highlight-instructions {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #515151;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);
  border-radius: 4px;
  padding: 0.4rem;

}

@keyframes SlideInOut {
  0% {
    visibility: visible;
    position: relative;
    bottom: 20px;
    opacity: 0%;
  }
  25% {
    position: relative;
    bottom: 0px;
    opacity: 100%;
  }
  74% {
    position: relative;
    bottom: 0px;
    opacity: 100%;
  }
  100% {
    position: relative;
    bottom: 20px;
    opacity: 0%;
    visibility: hidden;
  }
}

#highlight-instructions.visable {
  /* visibility: visible; */
  opacity: 0%;
  animation: SlideInOut 5s ease-in-out;
}

#highlight-instructions.hidden {
  visibility: hidden;
}

#export-img-icon:hover::before {
  content: "Download an image of this CodeMark";
  width: 248px;
  position: absolute;
  right: 0;
  bottom: 45px;
  text-align: end;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-icon:hover {
  background: #515151;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);
}

.info-icon:hover::before {
  content: "Highlight a section of the CodeMark to comment on it directly!";
  width: 260px;
  position: absolute;
  right: 0;
  bottom: 45px;
  text-align: end;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.note-icon.like:hover::before {
  content: "Like this CodeMark";
  width: max-content;
  position: absolute;
  left: 0px;
  bottom: 45px;
  text-align: end;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.info-icon:hover::after {
  content: "";
  position: absolute;
  top: -14px;
  /* right: 12px; */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #37393e;
    animation: fadeIn 1000ms ease-in-out;
}

.note-icon.like:hover::after, 
#export-img-icon:hover::after {
  content: "";
  position: absolute;
  top: -14px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #37393e;
  animation: fadeIn 1000ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.comment-icon-button, .note-icon {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  position: relative;
  height: 24px;
  width: 24px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 00%);
  transition: background 250ms ease-in;
  transition: box-shadow 250ms ease-in;
}

.comment-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0.5rem;
}

.comment-icon-button:hover {
  background: #515151;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);

}

.note-resources {
  padding: 2rem;
}

#details-textarea, #details-textarea-edit {
  padding: 0.3rem;
  margin-top: 1.2rem;
  border-radius: 4px;
  background-color: #35373e3e;
}

#title-code {
  padding: 0.2rem;
  width: 100%;
  border-radius: 4px;
}

#title-code:focus {
  border-bottom: 0.5px solid #37F3FF;
}


#title-code:focus, #details-textarea:focus {
  background-color: #35373E;
}

.selected-text {
  text-decoration: underline;
  background-color: #b7be5395;
  color: rgb(119, 255, 15);
}

#note-export-modal {
  z-index: 1000;
  position: absolute;
  width: 100%;
  display: flex;
  background-color: #1b1b1c;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.tag-text.sm {
  font-size: 14px;
}

.public-status {
  display: flex;
  padding: 0.2rem 0.4rem;
  background-color: #295655;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.public-status::before {
  content: "Like this CodeMark";
  width: max-content;
  position: absolute;
  left: 0px;
  bottom: 45px;
  text-align: end;
  background: #393939;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 1000ms ease-in-out;
}

.public-status:hover::after {
  content: "";
  position: absolute;
  top: -14px;
  /* right: 12px; */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #37393e;
    animation: fadeIn 1000ms ease-in-out;
}

.action-buttons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.cancel-export.icon-button:hover {
  background-color: #390000;
}

.export.icon-button {
  background-color: #094052;
}

.export.icon-button:hover {
  background-color: #0f6a88;
}

.comment-selection-title {
  font-weight: 800;
}

.arrow-modal {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 20px;
  border-radius: 4px;
  background-color: #35373e00;
  transition: background-color 300ms ease-in-out;
}

.arrow-modal:hover {
  background-color: #35373e58;
}

/* only show arrow of modal */
.modal-compact {
  transition: transform 500ms ease-in-out;
  transform: translateX(285px);
}

#comment-highlight-text.modal-compact.hidden {
  visibility: hidden;
}
/* show entire modal */
.modal-expanded {
  transition: transform 500ms ease-in-out;
  transform: translateX(0px);
}

.modal-main {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0.75rem;
}

#comment-highlight-text {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  place-items: center;
  border-radius: 4px;
  padding: 0.4rem;
  width: 300px;
  position: absolute;
  top: 500px;
  right: 12px;
  z-index: 200;
  background-color: rgba(198, 198, 198, 0.102);
  backdrop-filter: blur(20px);
  transition: background-color 300ms ease;
  transition: transform 500ms ease-in-out;
}

#comment-highlight-text.modal-on{
  animation: slideInRight 500ms ease-in;
}
#comment-highlight-text.modal-out{
  animation: slideOutRight 500ms ease-out;
}

#comment-highlight-text:hover {
  background-color: rgba(198, 198, 198, 0.251)
}

.comment-selection-title {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  align-content: center;
  align-items: center;
}

.cm-theme-dark.comment-code {
  width: 100%;
}

.modal-hidden {
  opacity: 50%;
}

@keyframes slideInRight {
  0% {
    right: -100px;
    /* opacity: 0%; */
  }
  100% {
    right: 10px;
    /* opacity: 100%; */
  }
}

@keyframes slideOutRight {
  0% {
    right: 10px;
    /* opacity: 100%; */
  }
  100% {
    right: -100px;
    /* opacity: 0%; */
  }
}